.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quattrocento-regular {
    font-family: "Quattrocento", serif;
    font-weight: 400;
    font-style: normal;
}
  

:root{
    /* Some Variables for color presets */
    --text-color: #2B2D42;
    --link-color: #43275b;
    --linkHover-color: #2b1241;
    /* --link-color: #56282e; */
    /* --background-color: #F1DEDE; */
    /* --background-color: #bdedfe;  */

    --background-color: #eaebed; 


    /* --border-color: rgb(255, 249, 241);  */
    --border-color: #ce6d8b;


    --text-font-general: "Titan One", sans-serif;
    --aboutme-font: "Quattrocento", serif;

    --content-width: 97%;
    /* --background-color: #f0f9fc; */
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font-general);
}


html{
    /* ensures page will scroll smothly after clicking links */
    scroll-behavior: smooth;
}

body{
    /* set default font here for the body */
    /* set default text color for the body */
    color: var(--text-color);
    /* set background color */
    /* background-color: var(--background-color); */
    background-color:var(--border-color);
    
}

a{
    /* change anchor tags (links) to link color */
    color: var(--link-color);
    /* remove underline */
    text-decoration: none;
}


/* Navigation Bar Styling */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 80px;
}

/* navbar Left Side links */
nav .leftNav a{
    font-size: 30px;
    font-weight: 600;
    
}

/* navbar right Side links */
nav .rightNav a{
    font-size: 18px;
    font-weight: 400;
    /* Spacing between links */
    margin: 0 10px;
}

nav .rightNav a:hover{
    color: var(--linkHover-color);
}

/* Target the righmost link */
nav .rightNav a:last-child{
    color: var(--border-color);
    background-color: var(--link-color);
    /* add padding */
    padding: 5px 15px;
    border-radius: 8px;
}
nav .rightNav a:last-child:hover{
    color: var(--background-color);
    background-color: var(--linkHover-color);
    /* add padding */
    padding: 5px 15px;
    border-radius: 8px;
}

/* target the span inside the anchor tags to add space between icon and text*/
nav .rightNav a span{
    margin-left: 5px;
}


#headerWrapper{
    display: flex;
    justify-content: center;
    margin: 0  auto;
    width: var(--content-width);
    align-self: center;
    /* align-items: center; */
    /* width: 95%; */
    
}

.headerImage {

    background-image: url(/images/backIm1.png);
    background-position: center;
    /* width: 95%; */
    width: 100%;
    height: 250px;
    background-position: 50% 85%; /* Adjust cropping */
    background-size: 100%; /* Adjust zoom */
    background-repeat: no-repeat;
    /* margin: 5vw 0 ; */
    display: flex;
    justify-content: center; /* Horizontally centers content */
    align-items: flex-end; /* Aligns content to the bottom of the box */
    position: relative; /* Ensures content positioning works correctly */
}

.headerImage .locationText {
    color: var(--text-color);
    font-size: 1.5vw;
    font-weight: 300;

    /* Align to top-right corner */
    position: absolute; /* Use absolute positioning */
    top: 10px; /* Adjust distance from the top */
    right: 10px; /* Adjust distance from the right */
    text-align: right; /* Optional: align text within the element */
}

.headerImage .nameText {
    color: var(--text-color);
    font-size: 8vw;
    font-weight: 600;
    letter-spacing:0.4vw;
    
    position: relative;
    /* Allows the text to move into the padding area */
    /* padding-bottom: -10px;  */
    padding-bottom: -5vw;
    text-align: center;
    top: 5vw;
}


.aboutMe{
    width: var(--content-width);
    height: 30vw;
    margin: auto;
    font-size: 1.3vw;
    /* margin-top: 10vh; */
    /* padding-top: 200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    padding-top: 10vh;
    background-color: var(--background-color);
    font-family: var(--aboutme-font);
}

.aboutMe .leftAM{
    display: flex;
    align-items: center;
}

.aboutMe .leftAM span{
    font-weight: 400;
    padding-left: 1vw;
    width: 40vw;
    line-height: 1.3;
    font-family: var(--aboutme-font);
}

.aboutMe .leftAM img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.aboutMe .rightAM img {
    width: 100%; /* Ensure the image scales to its container's width */
    max-width: 40vw; /* Restrict the maximum width to 40vw */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image fills the container without distortion */
    overflow: hidden; /* Prevent content overflow */
}



/* Adjust link positioning for screen width */

@media(max-width: 800px){
    /* NAVBAR */
    nav{
        padding: 0 20px;
    }

    nav .rightNav a{
        font-size: 22px;
    }
    nav .rightNav a:last-child{
        color: var(--link-color);
        background-color: transparent;
        padding: 0;
    }

    nav .rightNav span{
        display: none;
    }
    .aboutMe {
        flex-direction: column; /* Stack content vertically on smaller screens */
        gap: .5vw; /* Adjust spacing for smaller screens */
        padding-top: 5vh;
        /* height: 60vh; */
        height: auto;
    }
    .aboutMe .leftAM span {
        font-size: 4vw; /* Adjust font size for better readability */
        width: 100%; /* Allow span to take full width */
        /* text-align: center;  */
        line-height: 1.5; /* Improve readability */
        padding-top: 2vh;
        gap: 0.5vw;
    }
    .aboutMe .leftAM {
        flex-direction: column; /* Stack content vertically on smaller screens */
        gap: 1vw; /* Adjust spacing for smaller screens */
    }
    .aboutMe .leftAM img{
        width: 40%;
        height: auto;
        /* display: none; */
    }
    .aboutMe .rightAM img{
        width: 100%; /* Ensure the image scales to its container's width */
        max-width: 100%; 
        /* Adjust max width of the right image */
        height: auto; /* Maintain the aspect ratio */
        object-fit: cover; /* Ensure the image fills the container without distortion */
        padding-top: 2vw; /* Add spacing on top of the image */
        padding-bottom: 2vw;

    }

}