
/* HTML elements can inherit CSS properties that are applied to their parents */



/* error class but ONLY for paragraph tags */
/* p.error{
    color: rgb(171, 35, 35);
}

p.success{
    color: rgb(59, 253, 59);
}

p.success.feedback{
    border: 2px dashed blue;
    color: white;
} */

/* ONLY for div tags */
/* div.error{
    color: blueviolet;
} */

/* tag an id. All Ids must be unique thnough so its not as easy to use for css*/
/* #content{
    background-color: rgb(119, 147, 171);
    padding: 20px;
} */


div{
    background-color: rgb(119, 147, 171);
}

/* descendent selectors : targets childre of the first tag*/

div p{
    color: rgb(255, 240, 240);
}

/* space tells this to look for descendant */
div .error{
    color: rgb(217, 65, 103);
}


/* attribute selectors */
a[href]{
    color: rgb(146, 138, 255);
}
/* a[href="google.com"]{
    color: rgb(20, 16, 81);
    background-color: green;
} */
/* any href with google in it */
a[href*="google"]{
    color: rgb(20, 16, 81);
    background-color: green;
}