.project-page {
  width: 100svw;
  height: 70svh;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  box-sizing: border-box;
  /* background-color: pink; */
}

/* .project-text {
  width: 35rem;
  height: 40rem;
  padding-left: 2rem;
  margin-right: 2rem;
  text-shadow: 2px 2px 2px #f4a3615b;
} */

.project-text {
  width: 35rem;
  height: 40rem;
  padding-left: 2rem;
  margin-right: 2rem;

  display: flex; /* 👈 important */
  flex-direction: column; /* 👈 important */
  overflow: hidden; /* 👈 matches resume */

  text-shadow: 2px 2px 2px #f4a3615b;
}

.project-content {
  flex: 1;
  overflow-y: auto;
  padding-right: 1rem;
  margin-bottom: 10rem;
}

.project-title {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: 0rem;
}

.project-subtitle {
  /* margin: 10px 0 0 0; */
  margin-left: 0.25rem;
}

.project-paragraph {
  padding-left: 1rem;
  margin-left: 0.5rem;
  border-left: 5px solid #f4a261;
  /* border-radius: 5px; */
}

/*  */
.project-image-container {
  width: 500px; /* fixed width */
  height: 500px; /* fixed height */
  /* background-color: rgb(247, 239, 239); */
  /* box-shadow: 2px 2px 4px #27456c; */

  display: flex; /* center image */
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */

  overflow: hidden; /* crop if image is larger */
  flex-shrink: 0; /* prevent shrinking in flex layouts */
}

.project-image {
  max-width: 100%; /* scale to fit container width */
  max-height: 100%; /* scale to fit container height */
  object-fit: contain; /* preserve aspect ratio */
  box-shadow: 2px 2px 4px #27456c;
}

.project-button {
  width: 5rem;
  height: 5rem;
  align-self: center;
  padding: 0rem 2rem 4rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Remove the default browser highlight */
  outline: none;
}

.project-meta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* font-size: 1.2rem; match your h3 look */
  margin-bottom: 1rem;

  color: var(--site-dark-orange);
  font-size: 1.4rem;
  text-align: left;
  font-weight: 300;
}

.project-role {
  opacity: 0.8;
}

.divider {
  opacity: 0.5;
}

.case-study-link {
  cursor: pointer;
  opacity: 0.8;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.case-study-link:hover {
  opacity: 1;
  transform: translateX(3px);
}
.project-button:focus {
  outline: none;
  box-shadow: none; /* removes glow in some browsers */
}

.icon {
  color: #e76f51ed;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.project-button:hover .icon {
  color: #e76f51;
  transform: scale(1.2);
}

.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}
