.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quattrocento-regular {
    font-family: "Quattrocento", serif;
    font-weight: 400;
    font-style: normal;
}
  

:root{
    /* Some Variables for color presets */
    --text-color: #2B2D42;
    --link-color: #43275b;
    --linkHover-color: #2b1241;
    /* --link-color: #56282e; */
    /* --background-color: #F1DEDE; */
    /* --background-color: #bdedfe;  */

    --background-color: #eaebed; 


    /* --border-color: rgb(255, 249, 241);  */
    --border-color: #ce6d8b;


    --text-font-general: "Titan One", sans-serif;
    --aboutme-font: "Quattrocento", serif;

    --content-width: 97%;
    /* --background-color: #f0f9fc; */
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font-general);
}


html{
    /* ensures page will scroll smothly after clicking links */
    scroll-behavior: smooth;
}

#headerWrapper{
    display: flex;
    justify-content: center;
    margin: 0  auto;
    width: var(--content-width);
    align-self: center;
    /* align-items: center; */
    /* width: 95%; */
    
}

.headerImage {

    background-image: url(/images/view1_1.svg);
    background-position: center;
    /* width: 95%; */
    width: 100%;
    height: 250px;
    background-position: 50% 85%; /* Adjust cropping */
    background-size: 100%; /* Adjust zoom */
    background-repeat: no-repeat;
    margin-top: 5vh;
    /* margin: 5vw 0 ; */
    display: flex;
    justify-content: center; /* Horizontally centers content */
    align-items: flex-end; /* Aligns content to the bottom of the box */
    position: relative; /* Ensures content positioning works correctly */
}
